.grafico {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  transition: width 0.8s;
}

.grafico:hover {
  width: 900px;
}

.links2 {
  background-color: #ffffff;
  margin: 0.625rem;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-left: 21rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-evenly;
}

.links2 a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 1.5rem;
}

.linha {
  height: 1.5rem;
  border-left: 1px solid #000;
}
